.HeaderStatus {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: gray;
    margin: 0;
    vertical-align: middle;
    border: 2px solid rgb(216 226 233);
    background: transparent;
}

.HeaderStatus_green {
    background: rgb(75 210 143);
    border-color: rgb(75 210 143);
}

.HeaderStatus_yellow {
    background: rgb(255 170 0);
    border-color: rgb(255 170 0);
}

.HeaderStatus_red {
    background: rgb(255 77 77);
    border-color: rgb(255 77 77);
}