.Container {
}

.Header {
    margin-bottom: 10px;
}

.Header th {
    padding: 10px;
    text-align: left;
    white-space: nowrap;
}

.Content {
    /* display: flex;
    margin-bottom: 10px; */
}

.ListItem td {
    padding: 10px;
    /* vertical-align: top; */
}

.description {
    width: 100%;
}

@media screen and (max-width: 1200px) {
  .description {
    display: none;
  }

  .id {
    width: 100%;
  }
}