.Container {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.Container_inline {
    flex-direction: row;
}

.Label {
    font-weight: bold;
    padding: 5px 5px 5px 0;

}

.Value {
    padding: 5px 0 5px 0;
}